/* направление расстановки — по часовой стрелке, начиная сверху */

/* 4 значения */
/* для каждой стороны – своё значение */
padding: 20px 15px 30px 15px;

/* 3 значения */
/* верх — 10px, по бокам — 20px, низ — 30px */
padding: 10px 20px 30px;

/* 2 значения */
/* верх и низ — 10px, по бокам — 20px */
padding: 10px 20px;

/* 1 значение */
/* 10px со всех сторон */
padding: 10px;